html {
	background-image: url('images/dimension.png');
}

.header {
	background-color: #FFF;
	border: 1px black;
	border-top-style: solid;
	border-bottom-style: solid;
}

.nav {
	background-color: #444444;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 8px;
	padding: 5px;
}

.nav li {
	color: white;
	display: inline;
	font-size: 18px;	
}

.nav a {
	color: #FFF;
}

.header h3 {
	margin-left: 10px;
	margin-top: 6px;
	margin-bottom: 0px;
	font-weight: 100;
}

.footer {
	background-color: #FFF;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	font-size: 18px;
	border: 1px black;
	border-top-style: solid;
	border-bottom-style: solid;
}

.browse-items {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}